<%- contentFor('body') %>

<!-- Quick log -->
<div class="flex flex-col container mx-auto px-6 py-4">
  <h3 class="text-xl font-semibold m-auto mb-4">Quick Log</h3>
  <div class="grid m-auto w-fit grid-cols-3 gap-2 rounded-xl bg-deadnight p-2">
    <form class="" action="/migraines" method="POST">
      <input type="date" id="date" name="date" required class="hidden">
      <input type="hidden" name="attackType" value="migraine">
      <input type="hidden" name="quickLog" value="true">
      <button type="submit" class="w-full rounded-md bg-red-900/70 px-3 xs:py-4 py-1.5 md:px-10 md:py-3 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-900/90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Migraine</button>
    </form>
    
    <form class="" action="/migraines" method="POST">
      <input type="date" id="date" name="date" required class="hidden">
      <input type="hidden" name="attackType" value="headache">
      <input type="hidden" name="quickLog" value="true">
      <button type="submit" class="w-full rounded-md bg-orange-900/70 px-3 xs:py-4 py-1.5 md:px-10 md:py-3 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-orange-900/90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Headache</button>
    </form>
    
    <form class="" action="/migraines" method="POST">
      <input type="date" id="date" name="date" required class="hidden">
      <input type="hidden" name="attackType" value="misc symptoms">
      <input type="hidden" name="quickLog" value="true">
      <button type="submit" class="w-full rounded-md bg-yellow-900/70 px-3 xs:py-4 py-1.5 md:px-10 md:py-3 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-yellow-900/90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Symptoms</button>
    </form>
  </div>
</div>


<!-- Card view -->
<div class="container mx-auto px-6 py-8">
  <h2 class="text-3xl font-bold mb-8 text-center">Recorded Episodes</h2>

  <% if (migraineEvents.length > 0) { %>
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
      <% migraineEvents.forEach(function(event) { %>
      <li class="relative">
          <% 
          const attackTypeColors = {
            'migraine': 'bg-red-900/50 hover:bg-red-900/70',
            'headache': 'bg-orange-900/50 hover:bg-orange-900/70',
            'misc symptoms': 'bg-yellow-900/50 hover:bg-yellow-900/70',
            'missing': 'bg-gray-400/30 hover:bg-gray-400/50 border-2 border-indigo-200'
          };

          const cardColor = attackTypeColors[event.attackType] || 'bg-blue-900/50 hover:bg-blue-900/70'; 
          %>

        <div class="migraine-card flex flex-col justify-between rounded-lg p-5 h-44 shadow-md transition-all duration-300 hover:shadow-lg cursor-pointer <%= cardColor %>"
        data-href="/migraines/<%= event._id %>">
          <div class="flex flex-row justify-between">
            <h3 class="text-xl font-semibold mb-2"><%= event.formattedDate %></h3>
            <p class="text-lg mb-2 font-semibold capitalize"><%= event.attackType === "misc symptoms" ? "symptoms" : event.attackType %></p>
          </div>

          <div class="w-full mb-2 text-sm">
            <% if (event.startLocation.length > 0 && event.startLocation[0].trim() !== "") { %>
              <p class="capitalize font-semibold">Started: <%= event.startLocation[0] %></p>
            <% } else {%>
              <p class="capitalize font-semibold">&nbsp;</p>
            <% } %>
          </div>

          <!-- Weather on card -->
          <div class="w-full text-xs">
            <% if (event.weather) { %>
              <span class="font-mono inline"><%= event.weather.temperature %>°F</span>
              <span class="font-mono inline"> • </span>
              <span class="font-mono inline"><%= event.weather.pressure %>inHg</span>
              <p class="font-mono"> <%= event.weather.conditions %></p>
            <% } %>
          </div>
            
          <div class="flex flex-row items-center justify-between mt-auto">
            <p class="font-bold"><%= event.painLevel === undefined ? "" : `Pain Level: ${event.painLevel}` %></p>

            <% if (event.quickLog === true) { %>
              <a href="/migraines/edit/<%= event._id %>" class="edit-btn w-fit text-sm bg-midnight text-white px-2 py-1 rounded-md hover:bg-orange-400 hover:text-black transition-colors duration-300 z-10">Add Details</a>
            <% } else if (event.medication === true) { %>
              <img src="/assets/images/svg/rx.svg" alt="RX" class="h-5 w-auto">
            <% } %>
          </div>
        </div>
      </li>
      <% }); %>
    </ul>
  <% } else { %>
    <p class="text-center text-xl">No migraine events recorded yet.</p>
  <% } %>

  <div class="mt-12 text-center">
    <a href="/migraines/new" class="bg-indigo-600 text-white px-6 py-3 rounded-md text-lg font-semibold hover:bg-indigo-500 transition-colors duration-300">Record New Episode</a>
  </div>
</div>

<script>
  // Make cards clickable
  document.addEventListener('DOMContentLoaded', function() {
    const cards = document.querySelectorAll('.migraine-card');
    
    cards.forEach(card => {
      card.addEventListener('click', function(e) {
        // If the click is not on the edit button, navigate to the details page
        if (!e.target.closest('.edit-btn')) {
          window.location.href = this.dataset.href;
        }
      });
    });
  });

  // Set Quick Log date to today
  document.addEventListener('DOMContentLoaded', function() {
    const dateInputs = document.querySelectorAll('input[type="date"]');
    
    // Get today's date in YYYY-MM-DD format
    const today = new Date().toLocaleString("sv").split(' ')[0];
    
    // Set the default value to today's date
    dateInputs.forEach(input => {
      input.value = today;
    });
  });

  // Grid
  document.addEventListener('DOMContentLoaded', function() {
    const migraineEvents = <%- JSON.stringify(migraineEvents) %>;
    createMigraineContributionGrid('migraine-contribution-grid', migraineEvents);
  });
</script>

<script src="/js/grid.js" type="text/javascript"></script>