<%- contentFor('body') %>

<div class="container mx-auto px-6 py-8">
  <h1 class="text-3xl font-bold mb-8 text-center">Reports</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-20">
  
    <div>
      <h2 class="text-2xl font-bold mb-4 xs:text-center md:text-left">Attack Types</h2>
      <canvas id="attackTypeChart"></canvas>
    </div>

    <div>
      <h2 class="text-2xl font-bold mb-4 xs:text-center md:text-left">Pain Location</h2>
      <canvas id="painLocationChart"></canvas>
    </div>
  
    <div>
      <h2 class="text-2xl font-bold mb-4 xs:text-center md:text-left">Top Triggers</h2>
      <canvas id="topTriggersChart" class="xs:w-full"></canvas>
    </div>

    <div>
      <h2 class="text-2xl font-bold mb-4 xs:text-center md:text-left">Medication Taken</h2>
      <canvas id="medicationQuantityChart"></canvas>
    </div>
  
    <div class="md:col-span-2">
      <h2 class="text-2xl font-bold mb-4 xs:text-center md:text-left">Monthly Attacks</h2>
      <canvas id="monthlyAttacksChart"></canvas>
    </div>

  </div>
</div>

<div class="container mx-auto mb-2 flex justify-center">
  <a href="/migraines/export" class="bg-indigo-800 hover:bg-indigo-600 text-white font-semibold py-2 px-3 sm:px-4 rounded-md transition duration-300 text-sm sm:text-base mb-3 sm:mb-0">Export to CSV</a>
</div>

<script>
  window.attackTypesData = <%- JSON.stringify(attackTypes) %>;
  window.monthlyAttacksData = <%- JSON.stringify(monthlyAttacks) %>;
  window.topTriggersData = <%- JSON.stringify(topTriggers) %>;
  window.medicationData = <%- JSON.stringify(medicationData) %>;
  window.painLocationData = <%- JSON.stringify(painLocationData) %>;
</script>

<script src="/js/charting.js" type="text/javascript"></script>